.logo1{
    background-color: white;
    padding: 10px;
    margin-left: 130px;
    margin-top: 38px;
    vertical-align: middle;
}

header{
    background-color: #2A9D8F;
    width: 1440px;
    height: 122px;
    margin: 0 auto;
    
}

.inline_block{
    display: inline-block;
}

.headertext{
    color: #FFFFFF;
    vertical-align: middle;
    margin-top: 46px;
    font-family: 'Nerko One', cursive;
    
}

.headertext1{
    margin-left: 357px;
}

.headertext2{
    margin-left: 51px;
    margin-right: 51px;
}

.headertext3{
    margin-right: 357px;
}

h2{
    color: #2A9D8F;
    background-color: #FFFFFF
    ;
    padding: 8px 16px;
    margin-right: 130px;
    vertical-align: middle;
    margin-top: 38px;
    font-family: 'Poppins', sans-serif;
}

h3{
    color: #4D4D4D;
    font-family: poppins;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    padding-top: 322px; 
}
    

    
    

.articletext1{
    margin-top: 60px;
    margin-bottom: 52px;
}

.articletext2{
    margin-bottom: 200px;
}

.articletext{
    color: #656565;
    font-family: 'Nerko One', cursive;
    width: 780px;
    height: 90px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 0px 289px 0px 371px;
    
}

.section1{
    background-color: #C2F3EE;
}

.section1div{
    width: 486px;
    height: 538px;
    vertical-align: top;
    padding-top: 80px;
    
}

.sectionimg{
    vertical-align: top;
    padding-top: 80px;
    padding-left: 130px;
    padding-bottom: 80px;
    margin-right: 100px;
}

h4{
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

.text1{
    color: #515151;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    margin-top: 27px;
    margin-bottom: 45px;
   
    
}

button{
    background-color: #2A9D8F;
    border: none;
}

.buttontext{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    padding: 11px 16px;
}

h5{
    color: #4D4D4D;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    padding-top: 200px;
    margin-bottom: 54px;

}



.section2text1{
    color: #535353;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400px;
    margin-top: 32px;
}

.section2text2{
    color: #535353;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400px;
    margin-top: 32px;
}


.section2div1{
    padding: 0px 0px 200px 30px;
}

.section2div2{
    padding-right: 130px;
    padding-bottom: 200px;
    margin-left: 20px;
}

footer{
    background-color: #2A9D8F;
}

.footerimg{
    padding: 111.3px 0 220.32px 157.72px;
    vertical-align: top;
    margin-right: 661.64px;
}

.footerdiv{
    padding-top: 90px;
    vertical-align: top;

}
a{
    text-decoration: none;
   
}

li{
    color: #FFFFFF;
}

.footermaintxt{
    color: #FFFFFF;
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   margin-bottom: 21px;
}  

.footertxt{
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
}

.footerdiv2{
    margin-left: 40px;
    margin-right: 41px;
}

.footertxt2{
    margin-top: 8px;
    margin-bottom: 8px;
}